:root {
    --backgroundColor: rgb(224, 124, 247);
    /* (pour le fond)*/
    --primaryColor: white;
    /*(pour les textes principaux)*/
    --secondaryColor: rgb(0, 0, 0);
    /*(deuxieme couleur de texte)*/
    --h1Color: yellow;
    /*(titre principal)*/
    --h2Color: rgb(242, 255, 0);
    /*(titres de section)*/
    --h3Color: #d559e8;

    --altPrimaryColor: rgb(38, 228, 238);
    --altSecondaryColor: rgb(64, 239, 64);

    --altH1Color: rgb(128, 0, 128);
    --altH2Color: rgb(64, 239, 64);

    /*AJOUTS*/
    --primaryfont: "Montserrat", sans-serif;
    --h2font: "Orbitron", sans-serif;

}





* {
    overflow-x: hidden;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}



body {
    background-color: var(--backgroundColor);
    margin: 0;
    background-image: url("Images/backgroundSite.png");
    background-size: cover;
    background-attachment: fixed;
}

h2 {
    display: inline;
    margin-top: 1em;
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 1.6em;
    font-size: 2rem;
    font-family: var(--h2font);
    color: var(--h2Color);
    animation: pulsate 2.5s ease-in-out infinite alternate;
}

@keyframes pulsate {
    100% {
        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 30px var(--h3Color),
            0 0 40px var(--h3Color),
            0 0 70px var(--h3Color),
            0 0 80px var(--h3Color),
            0 0 90px var(--h3Color);
    }

    0% {
        text-shadow:
            0 0 2px #fff,
            0 0 4px #fff,
            0 0 6px #fff,
            0 0 10px var(--h3Color),
            0 0 35px var(--h3Color),
            0 0 45px var(--h3Color),
            0 0 60px var(--h3Color),
            0 0 70px var(--h3Color);
    }
}












@keyframes pulsate {
    100% {

        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px var(--h3Color),
            0 0 80px var(--h3Color),
            0 0 90px var(--h3Color),
            0 0 100px var(--h3Color),
            0 0 150px var(--h3Color);
    }

    0% {

        text-shadow:
            0 0 2px #fff,
            0 0 4px #fff,
            0 0 6px #fff,
            0 0 10px var(--h3Color),
            0 0 45px var(--h3Color),
            0 0 55px var(--h3Color),
            0 0 70px var(--h3Color),
            0 0 80px var(--h3Color);
    }
}


h3 {
    text-align: center;
    display: inline;
    font-size: 1.5rem;
    font-family: var(--h2font);
    padding-left: 19vw;
    color: var(--h2Color);
    animation: pulsate 2.5s ease-in-out infinite alternate;
}


h4 {
    text-align: center;
    display: inline;
    font-size: 1rem;
    font-family: var(--h2font);
    color: var(--h2Color);
}


p {
    color: var(--altPrimaryColor);
    font-family: var(--primaryfont);
    font-size: 1em;
}



#clipcards {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 90px;
    padding-top: 7%;
}


#clip1,
#clip2 {
    display: flex;
    flex-direction: column;
    position: relative;
    width: auto;
    align-items: center;
    min-height: 3em;
    padding: 1em 1em;
    /* background-color: #801468; */
    margin: auto;
    /* border-radius: 25px; */
    background-color: rgb(128, 0, 128, 0.5);
    text-align: center;
    border: 0.2rem solid #BC13FE;
    border-radius: 2rem;
 

}

#clip2 {
    margin-top: 4em;
}



#ClipVideo1,
#ClipVideo2 {
    background-color: rgb(128, 0, 128, 0.5);
    text-align: center;
    border: 0.2rem solid #ef012d;
    border-radius: 2rem;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #ef012d,
        0 0 0.8rem #ef012d,
        0 0 2.8rem #ef012d,
        inset 0 0 1.3rem #ef012d;
}

#clipinfo {
    position: relative;
    display: flex;
    align-items: center;
    font-family: var(--primaryfont);
    color: #FFFB00;
}



.crew {
    display: flex;
    flex-direction: column;
    gap: 120px;
    margin-top: 105px;
    padding-top: 5%;
}


#crewLeft {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 5em;

}

#crewPhoto1 {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 25px;
    margin-left: -14%;
    margin-top: -74%;

    background-color: rgb(128, 0, 128, 0.5);
    text-align: center;
    border: 0.2rem solid #BC13FE;
    border-radius: 2rem;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #BC13FE,
        0 0 0.8rem #BC13FE,
        0 0 2.8rem #BC13FE,
        inset 0 0 1.3rem #BC13FE;
}


h4 {
    color: #FFFB00;
}

#overlayCrewLeft {
    padding: 2% 2%;
    /* margin-left: 15%; */
    margin-right: 10%;
    margin-left: 0%;
    padding-top: 15%;
    /* background-color: #801468; */
    font-family: var(--primaryfont);
    /* border-radius: 25px; */
    background-color: rgb(128, 0, 128, 0.5);
    text-align: center;
    border: 0.2rem solid #BC13FE;
    border-radius: 2rem;

}


.crewLeftInfo {
    display: flex;
    color: white;
    margin-right: 5%;
    text-align: right;
    justify-content: flex-end;

}



#crewPhoto2 {
    position: absolute;
    width: 150px;
    height: 150px;
    margin-right: -14%;
    margin-top: -74%;
    background-color: rgb(128, 0, 128, 0.5);
    text-align: center;
    border: 0.2rem solid #BC13FE;
    border-radius: 2rem;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #BC13FE,
        0 0 0.8rem #BC13FE,
        0 0 2.8rem #BC13FE,
        inset 0 0 1.3rem #BC13FE;
}





#crewRight {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-right: 5em;
}

#overlayCrewRight {

    padding: 2% 2%;
    /* margin-right: 15%; */
    padding-top: 15%;
    margin-left: 10%;
    margin-right: 0%;
    /* background-color: #801468; */
    font-family: var(--primaryfont);
    /* border-radius: 25px; */
    background-color: rgb(128, 0, 128, 0.5);
    text-align: center;
    border: 0.2rem solid #BC13FE;
    border-radius: 2rem;

}



.crewRightInfo {
    /* margin-right: 6em; */
    display: flex;
    color: white;
    /* justify-content: flex-start; */
    text-align: left;
    margin-left: 5%;

}



@media screen and (min-width: 991px) {

    h3 {
        font-size: 2.5em;
        padding-left:35vw;
    }

    h2 {
        padding-left: 2em;
        font-size: 4.5rem;
        animation: pulsate 2s ease-in-out infinite alternate;
    }

    @keyframes pulsate {
        100% {
            text-shadow:
                0 0 4px #fff,
                0 0 11px #fff,
                0 0 19px #fff,
                0 0 30px var(--h3Color),
                0 0 40px var(--h3Color),
                0 0 70px var(--h3Color),
                0 0 80px var(--h3Color),
                0 0 90px var(--h3Color);
        }

        0% {
            text-shadow:
                0 0 2px #fff,
                0 0 4px #fff,
                0 0 6px #fff,
                0 0 10px var(--h3Color),
                0 0 35px var(--h3Color),
                0 0 45px var(--h3Color),
                0 0 60px var(--h3Color),
                0 0 70px var(--h3Color);
        }
    }

    /*Crew*/

    #clipcards {
        flex-direction: row;
    }

    #clip2 {
        margin-top: 0;

    }

    #ClipVideo1,
    #ClipVideo2 {
        width: 400px;
        height: 250px;
    }


    .crew {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-top: 5%;
    }

    #crewPhoto1 {

        margin-left: -5%;
        margin-top: 0;
    }

    #overlayCrewLeft {
        margin-left: 0;
        padding: 2% 2%;
        
    }

    .crewLeftInfo {
        margin-left: 6em;
        justify-content: flex-start;
        text-align: left;

    }

    #crewPhoto2 {
        margin-top: 0;
        margin-right: -5%;
    }

    #overlayCrewRight {
        margin-right: 0;
        padding: 2% 2%;
    }

    .crewRightInfo {

        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        text-align: right;
        margin-right: 6em;
    }

}
